* {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  transition: background 0.3s 
}


footer {
  /*position: absolute;
  bottom: 0;
  max-height: 75px;
  
  */
  min-height: 30px;
  
}

:root {
  --primary: #244D91;
  --gold: #A69145;
  --gold1: ##ffc107;
}

.btn-primary,
.btn-primary-outline,
.bg-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.badge-primary,
.alert-primary,
.list-group-item.list-group-item-primary,
.nav-link.nav-link-primary,
.nav-tabs .nav-item.show .nav-link.nav-link-primary,
.nav-pills .nav-link.nav-link-primary,
.progress-bar,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not([disabled]):not(.disabled):active {
  background-color: var(--primary) !important;
  color: #fff !important;
 /* background-color: #244D91 !important;*/
}

.btn-primary,
.text-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.badge-primary,
.alert-primary,
.list-group-item.list-group-item-primary,
.nav-link.nav-link-primary,
.nav-tabs .nav-item.show .nav-link.nav-link-primary,
.nav-pills .nav-link.nav-link-primary,
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not([disabled]):not(.disabled):active {
  color: var(--primary);
}

.btn-primary,
.btn-outline-primary {
  border-color: var(--primary);
}

body{min-height: 100vh !important;display: flex !important;
    flex-direction: column !important;
  font-family: 'Open Sans', sans-serif;}

footer{
    margin-top: auto !important;
}
.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

.banner-h{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
}

.talk{font-size: 1.2em; font-family: 'Open Sans', sans-serif;}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dukia-color{
  color: var(--primary) !important;
}

.progress-btn {
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0), rgba(255, 215, 0, 1) 40%, rgba(255, 215, 0, 1)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-size: 200% 100%, 100% 100%;
  background-position: right bottom, right bottom;
  animation: progress-stripe 2s linear infinite;
}

@keyframes progress-stripe {
  from { background-position: left bottom, right bottom; }
  to { background-position: right bottom, left bottom; }
}

.hide, .hidden{display: none}
.show{display:visible}

.top-header a{font-size: 12px !important;
white-space: nowrap;}

  #stickyNav {
    
    width: 100%;
    
    z-index: 1;
  }
  
  .sticky {
    top: 0;
    position: fixed;
  }


.yellow3{background-color: var(--gold1)}
.yelow3-b{border-color: var(--gold1)}
.cta-w{background-color: $yellow-500;}
.no-border{border: none !important;}


@media (min-width: 992px) {
.menuitems {
display: flex;
justify-content: center;
}
}
 .card {
        margin-bottom: 20px;
      }
      .card-img-top {
        max-height: 386px;
        display: block;
/*         max-height: 270px; */
/*         height: auto; */
/*         width: auto; */
/*         object-fit: contain; */
        
 }
.card-coin-img{max-height: 300px !important
              
              }
.card-product-name{color: #000  !important; margin-bottom: 10px; font-size: 18px font-weight: 600; !important; padding-bottom: 10px}
 .carousel-control-prev, .carousel-control-next { cursor: pointer;
 }

.slick-prev {
  left: -10px;
  top: 50%;
  transform: translate(0, -50%);
}

.slick-next {
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

/*
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
*/



#cmodal-qty{
  max-width:70px;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input {
  position: relative;
  width: fit-content;
}

input {
  width: 60px;
}

.spinners {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1px;
  transform: translateY(-50%);
}

.spinner {
  font-size: 7px;
  border: none;
  padding: 0 1px;
}

.spinner:hover {
  background: lightgrey;
} */

.spinner {
  * {
    text-align: center;
  }
  input {
    pointer-events: none;
    background-color: white !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}


.livePrice {font-soze:8px !important}