<div class="mt-10">

  <div class="bg-light banner p-4 m-30">
    <div class="row">
      <div class ="col-md-7">
    <h3 class="banner-h text-primary">Buy & Sell Gold</h3>
    <div class="talk">
Dukia Gold, your trustworthy refinery and bullion merchant.
     <div> <a href="/buy-now" data-link class="btn block btb-sm btn-primary-outline"> Buy Now</a>
    </div></div>
      </div>
      <div class="col-md-5">
        <img src="https://dukiagoldrefinery.co/images/logo_centre_web.png" style="width: 100px" />
      </div>
    </div>

  </div>
</div>