<div class="container">
    <div class="row">
                <div class="rounded justify-content-center">
                    <div class="col-md-7 offset-md-2 shadow-lgx p-5 bg-light">
                        <div class="text-center">
                           <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" srcx="https://cdn.pixabay.com/photo/2013/07/12/15/36/fingerprint-150159_1280.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="70px" alt="profile">
                        </div>
                        <div class="p-8">
                            <form id="login-form" >

            <div class="mb-3">
              <div class="notice-board text-centre">
      <div id="dangeralert" class="alert alert-danger alert-dismissible fade hide" role="alert">
  
</div>
<div id="successalert" class="alert alert-success alert-dismissible fade hide" role="alert">
  
</div>
    
    </div>

              <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="text-center"><button id="loginBtn" type="submit" class="btn btn-primary btn-color px-5 mb-5 w-100 text-white">Login</button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
              Registered? <a href="/get-started" data-link class="text-dark fw-bold"> Create an
                Account</a>
            </div>
          </form>
        </div>
                    </div>
      </div>
    </div>
  </div>
    <script src="./views/login.js"></script>


