<div class="container"> 
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a data-link href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Register</li>
  </ol>
</nav>
</div>

<div class="container card">
    <div class="row">
                <div class="rounded justify-content-center">
                    <div class="col-md-7 offset-md-2 shadow-lgx p-5">
                        <div class="text-center mb-1">
                            <h4 class="text-primary-x">Create your account</h4>

                          <p>Create an account with us today to start enjoying seamless transactions.
                            
                          </p>
                        </div>
                        <div class="p-8">
                            <form id="register-form" role="form"><div class="notice-board text-centre">
      <div id="dangeralert" class="alert alert-danger alert-dismissible fade hide" role="alert">
  
</div>
<div id="successalert" class="alert alert-success alert-dismissible fade hide" role="alert">
  
</div>
    
    </div>
                              
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-circle-user text-white"></i></span>
                                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">

                                  
                                </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-circle-user text-white"></i></span>
                                    <input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Middle Name">
                                  
                                </div>
    <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-circle-user text-white"></i></span>
                                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">

                                  
                                </div>
    <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-phone text-white"></i></span>
                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">

                                  
                                </div>
                              <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-envelope text-white"></i></span>
                                    <input type="email" name="email" aria-required required class="form-control" placeholder="Email">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-key text-white"></i></span>
                                    <input required name="password" type="password" class="form-control" placeholder="password">
                                </div>
                                <div class="d-grid col-12 mx-auto">
                                    <button id="registerBtn" class="btn btn-primary" type="submit"><span></span> Sign up</button>
                                </div>
                                <p class="text-center mt-3">Already have an account?
                                    <a href="/login" data-link class="text-primary">Sign in</a>
                                </p>
                            </form>
                        </div>
                 
                </div>
            </div>
    </div>
</div>


    <script src="./views/register.js"></script>