<div class="container">
    <div class="row">
                <div class="rounded justify-content-center">
                    <div class="col-md-7 offset-md-2 shadow-lgx p-5 bg-light">
                        <div class="text-center mb-1">
                            <h3 class="text-primary">Create Account</h3>
                        </div>
                        <div class="p-8">
                            <form id="register-form" role="form"><div class="notice-board text-centre">
      <div id="dangeralert" class="alert alert-danger alert-dismissible fade hide" role="alert">
  
</div>
<div id="successalert" class="alert alert-success alert-dismissible fade hide" role="alert">
  
</div>
    
    </div>
                              
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-circle-user text-white"></i></span>
                                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">

                                  
                                </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-circle-user text-white"></i></span>
                                    <input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Middle Name">
                                  
                                </div>
    <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-circle-user text-white"></i></span>
                                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">

                                  
                                </div>
    <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-phone text-white"></i></span>
                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">

                                  
                                </div>
                              <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-envelope text-white"></i></span>
                                    <input type="email" name="email" aria-required required class="form-control" placeholder="Email">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary"><i
                                            class="fa fa-key text-white"></i></span>
                                    <input required name="password" type="password" class="form-control" placeholder="password">
                                </div>
                                <div class="d-grid col-12 mx-auto">
                                    <button id="registerBtn" class="btn btn-primary" type="submit"><span></span> Sign up</button>
                                </div>
                                <p class="text-center mt-3">Already have an account?
                                    <a href="/login" data-link class="text-primary">Sign in</a>
                                </p>
                            </form>
                        </div>
                 
                </div>
            </div>
    </div>
</div>


    <script src="./views/register.js"></script>