<footer class="footer mt-auto py-3 bg-dark  text-gray-100">
  <div class="container">
    <div class="row text-center">
      <div class="col">    
        <ul class="list-inline text-secondary">
          <li class="list-inline-item">
            <a href="contact.html">Contact</a>
          </li>
          <li class="list-inline-item">
            <a href="faq.html">FAQ</a>
          </li>
          <li class="list-inline-item">
            <a href="getstarted.html">Get Started</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-secondary">Copyright &copy; 2020 Dukia Gold. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>