<header id= "topheader" class="container-fluidx d-flex align-items-center justify-content-between p-3 top-header mb-0">
  <div class="d-flex align-items-center livePrice">

    <span class="badge badge-light text-secondary pe-1"> <span>Buy: </span> <span id="liveBuyPrice" data-bid="0" class="hide">0</span><span id="liveBuyPricePercent" class="hide hidden">(-%)</span>
    
    
</span>
<span class="badge badge-light text-secondary px-1"> <span>Sell: </span> <span id="liveSellPrice" class="hide" data-ask="0">-</span><span class="hide hidden" id="liveSellPricePercent">(-%)</span></span>
  </div>
  <div class="d-flex align-items-center justify-content-between">
  <a href="#" class="cart-link">
    <i class="fa-regular fa-cart-shopping"></i>
  </a>
  <div class="d-flex align-items-center text-secondary mx-2 text-sm">
    <a class="text-sm" href="/login" data-link>Sign In</a>
  </div>
  <div class="d-flex align-items-center text-sm">
    <a href="/get-started" data-link>Get Started</a>
  </div>
</div>

</header>