<header class="container-fluidx d-flex align-items-center justify-content-between p-3 top-header mb-0">
  <div class="d-flex align-items-center">

    <span class="badge badge-light text-secondary pe-1"> <span>Buy: </span> $176.3/oz</span>
<span class="badge badge-light text-secondary px-1"> <span>Sell: </span> $176.9/oz</span>
  </div>
  <div class="d-flex align-items-center justify-content-between">
  <a href="#">
    <i class="fa-regular fa-cart-shopping"></i>
  </a>
  <div class="d-flex align-items-center text-secondary mx-2 text-sm">
    <a class="text-sm" href="/login" data-link>Sign In</a>
  </div>
  <div class="d-flex align-items-center text-sm">
    <a href="/get-started" data-link>Get Started</a>
  </div>
</div>

</header>